@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Restablecimiento de contraseña confirmado";
}

<h1>@ViewData["Title"]</h1>
<p>
    Revisa tu correo para reestablecer la contraseña.
</p>
