@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Eliminar Cuenta";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Si borras la cuenta será de manera permanente y no se podrá recuperar</p>

        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Eliminar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
