@* Views/Home/Chat.cshtml *@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic" rel="stylesheet">
    <link href="https://zavoloklom.github.io/material-design-iconic-font/css/docs.md-iconic-font.min.css" rel="stylesheet">
    <script src="~/js/index.js"></script>
    <link href="~/css/chat.css" rel="stylesheet">
    <link href="~/img" rel="stylesheet">


    <style></style>

</head>
<body>
    <div class="fabs" id="fabs-chat">
        <div class="chat">
            <div class="chat_header">
                <div class="chat_option">
                    
                    <span id="chat_head">LeahBot</span> <br>
                    <span id="chat_fullscreen_loader" class="chat_fullscreen_loader">
                        <i class="fullscreen zmdi zmdi-window-maximize"></i>
                    </span>
                </div>
            </div>
            <div class="chat_body chat_login">
                <a id="chat_fourth_screen" class="fab-chat">
                    <i class="zmdi zmdi-arrow-right"></i>
                </a>
                <p>¿Tienes dudas? Da click en la flecha de arriba para poder solucionarlas...</p>
            </div>
            
            <div id="chat_fullscreen" class="chat_conversion chat_converse">
                <span class="chat_msg_item chat_msg_item_admin">
                    <div class="chat_avatar">
                        <img src="@Url.Content("~/img/Bot.gif")" />
                    </div>¡Hola! Bienvenida al chat de preguntas, soy LeahBot....Selecciona alguna de las siguientes opciones:
                </span>
                <span class="chat_msg_item">
                    <ul class="tags">
                        <li class="option" data-response="Tarjeta">¿Qué métodos de pago?</li>
                        <li class="option" data-response="En carro">¿Cómo llego?</li>
                        <li class="option" data-response="Este es el número...">Me gustaría que me atienda un asesor</li>
                    </ul>
                </span>                        
            </div>
        </div>
        <a id="prime" class="fab-chat"><i class="prime zmdi zmdi-comment-outline"></i></a>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
hideChat(0);

$('#prime').click(function () {
    toggleFab();
});

//Toggle chat
function toggleFab() {
    $('.prime').toggleClass('zmdi-comment-outline');
    $('.prime').toggleClass('zmdi-close');
    $('.prime').toggleClass('is-active');
    $('.prime').toggleClass('is-visible');
    $('#prime').toggleClass('is-float');
    $('.chat').toggleClass('is-visible');
     $('.fab-chat').toggleClass('is-visible');

}
        $('.option').click(function () {
            var userText = $(this).text();
            var responseText = $(this).data('response');

            $('#chat_fullscreen').append('<span class="chat_msg_item chat_msg_item_user">' + userText + '</span>');
            $('#chat_fullscreen').append('<span class="chat_msg_item chat_msg_item_admin"><div class="chat_avatar"><img src="@Url.Content("~/img/Bot.gif")" /></div>' + responseText + '</span>');

            scrollToBottom();
            showOptions();
        });

        function showOptions() {
            $('#chat_fullscreen').append('<span class="chat_msg_item"><ul class="tags"><li class="option" data-response="Tarjeta">¿Qué métodos de pago?</li><li class="option" data-response="En carro">¿Cómo llego?</li><li class="option" data-response="Este es el número...">Me gustaría que me atienda un asesor</li></ul></span>');

            $('.option').off('click').on('click', function () {
                var userText = $(this).text();
                var responseText = $(this).data('response');

                $('#chat_fullscreen').append('<span class="chat_msg_item chat_msg_item_user">' + userText + '</span>');
                $('#chat_fullscreen').append('<span class="chat_msg_item chat_msg_item_admin"><div class="chat_avatar"><img src="@Url.Content("~/img/Bot.gif")"/></div>' + responseText + '</span>');

                scrollToBottom();
                showOptions();
            });
        }
        function scrollToBottom() {
            $('#chat_fullscreen').scrollTop($('#chat_fullscreen')[0].scrollHeight);
        }
$('#chat_first_screen').click(function (e) {
    hideChat(1);
});

$('#chat_fourth_screen').click(function (e) {
    hideChat(4);
});

$('#chat_fullscreen_loader').click(function (e) {
    $('.fullscreen').toggleClass('zmdi-window-maximize');
    $('.fullscreen').toggleClass('zmdi-window-restore');
    $('.chat').toggleClass('chat_fullscreen');
    $('.fab').toggleClass('is-hide');
    $('.header_img').toggleClass('change_img');
    $('.img_container').toggleClass('change_img');
    $('.chat_header').toggleClass('chat_header2');
    $('.fab_field').toggleClass('fab_field2');
    $('.chat_converse').toggleClass('chat_converse2');
});

function hideChat(hide) {
    switch (hide) {
        case 0:
            $('#chat_converse').css('display', 'none');
            $('#chat_body').css('display', 'none');
            $('#chat_form').css('display', 'none');
            $('.chat_login').css('display', 'block');
            $('.chat_fullscreen_loader').css('display', 'none');
            $('#chat_fullscreen').css('display', 'none');
            break;
        case 1:
            $('#chat_converse').css('display', 'block');
            $('#chat_body').css('display', 'none');
            $('#chat_form').css('display', 'none');
            $('.chat_login').css('display', 'none');
            $('.chat_fullscreen_loader').css('display', 'block');
            break;
        case 2:
            $('#chat_converse').css('display', 'none');
            $('#chat_body').css('display', 'block');
            $('#chat_form').css('display', 'none');
            $('.chat_login').css('display', 'none');
            $('.chat_fullscreen_loader').css('display', 'block');
            break;
        case 3:
            $('#chat_converse').css('display', 'none');
            $('#chat_body').css('display', 'none');
            $('#chat_form').css('display', 'block');
            $('.chat_login').css('display', 'none');
            $('.chat_fullscreen_loader').css('display', 'block');
            break;
        case 4:
            $('#chat_converse').css('display', 'none');
            $('#chat_body').css('display', 'none');
            $('#chat_form').css('display', 'none');
            $('.chat_login').css('display', 'none');
            $('.chat_fullscreen_loader').css('display', 'block');
            $('#chat_fullscreen').css('display', 'block');
            break;
    }
}

    </script>
</body>
</html>
